div.row div{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    display: inline-block;

}
div.brick{
    background-color: blue;
}
div.coins{
    background: url("coin.gif");
    background-repeat: no-repeat;
    background-position: center;
}